/*common*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}


.flex-container {
    display: flex;
    padding: 1rem;
    justify-content:center ;
}

.flex-container-h {
    display: flex;
    padding: 1rem;
    justify-content:center ;
}



/*debug*/

.debug .container{
    background-color: red;
}

.debug .logo {
    border: 5px dotted rgb(50, 73, 205);
    width: 20%;
    background-color: rgb(247, 172, 34);
}
.debug .link{
    border: 5px dotted palevioletred;
    width: 40%;
    background-color: rgb(247, 172, 34);

}
.debug .login{
    border: 5px dotted brown;
    width: 20%;
    background-color: rgb(247, 172, 34);
}

.debug {
    background-color: palegreen;
}

.debug .jumbotron{
    background-color: rgb(246, 60, 91);
    height: 15rem;
    border: dotted;
}

.debug .row1{
    background-color: violet;
    height: 15rem;
    border: dotted;
}
.debug .row2{
    background-color:#ededed;
    height: 15rem;
    border: dotted;
}

.debug .col-4 {
    border: dotted;
    background-color: blue;
}

.debug .col-12 {
    border: dotted;
    background-color: brown;
}

.debug .flex-container:nth-child(2){
    background-color: orange;
}

.debug .flex-container:nth-child(4){
    background-color: orange;
}


.debug .last{
    
    background-color: rgb(68, 128, 48);
    height: 20rem;
    border: dotted;
}



.debug .top-footer{
    height: 15rem;
    border: dotted;
    flex-direction: row;
}

.debug .colonna-g{
    border: dotted;
    background-color: blue;
}

.debug .colonna-p {
    border: dotted;
    background-color: brown;
}
.debug .colonna-p {
    border: dotted;
    background-color: brown;
}
.debug .colonna-p {
    border: dotted;
    background-color: brown;
}

.debug .site_footer{
    background-color: #ededed;
}




.debug .logo-f {
    border: 5px dotted rgb(50, 73, 205);
    width: 10%;
    background-color: rgb(247, 172, 34);
}
.debug .bottone {
    border: 5px dotted rgb(50, 73, 205);
    width: 10%;
    background-color: rgb(247, 172, 34);
}

.debug .bottom-footer{
    background-color: black;

}


/*HEADER*/


.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    width: 20%;
}

.link{
    width: 40%;

}

 .login{
    width: 20%;
}

.flex-container>span{
    text-align: center;
}

/*JUMBOTRON*/

.jumbotron{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

/* FIRST CONTAINER*/

.row1{
    display: flex;
    width: 60%;
    flex-direction: row-reverse;
}

.col-4{
    width: calc(33.33% * 2) ;

}
.col-12{
    width: 100%;
}

/*SECOND CONTAINER*/


.row2{
    display: flex;
    width: 60%;
    flex-direction:row
}

.col-4{
    width: calc(33.33% * 2 ) ;

}
.col-12{
    width: 100%;
}

/*THIRD CONTAINER*/

.last{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

/*FOOTER*/

.top-footer{
    display: flex;
    width: 60%;
    flex-direction: row-reverse;
}

.colonna-g{
    width: 33.33%  ;

}
.colonna-p{
    width: 20%;
}

.colonna-p{
    width: 20% ;

}
.colonna-p{
    width: 20%;
}
.colonna-p{
    width: 20%;
}

/*BOTTOM FOOTER*/


.bottom-footer:first-child{
    justify-content: space-between;
    width: 80%;
}



div.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    





