/*common*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}

/*.row {
    padding: 1rem;
}*/

.flex-container {
    display: flex;
    padding: 1rem;
}


/*debug*/

.debug .logo {
    border: 5px dotted rgb(50, 73, 205);
    width: 20%;
    background-color: rgb(247, 172, 34);
}
.debug .link{
    border: 5px dotted palevioletred;
    width: 40%;
    background-color: rgb(247, 172, 34);

}
.debug .login{
    border: 5px dotted brown;
    width: 20%;
    background-color: rgb(247, 172, 34);
}

.debug {
    background-color: palegreen;
}

.debug .jumbotron{
    height: 80%;
    background-color: rgb(246, 60, 91);
    height: 15rem;
    border: dotted;
}

.debug .row1{
    background-color: violet;
    height: 15rem;
    border: dotted;
}
.debug .row2{
    background-color:#ededed;
    height: 15rem;
    border: dotted;
}

.debug .col-4 {
    border: dotted;
    background-color: blue;
}

.debug .col-12 {
    border: dotted;
    background-color: brown;
}



/*HEADER*/

.container{
    background-color: rgb(140, 208, 231);
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    width: 20%;
}

.link{
    width: 40%;

}

 .login{
    width: 20%;
}

.flex-container>span{
    text-align: center;
}

/*JUMBOTRON*/

.jumbotron{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

/* FIRST CONTAINER*/

.row1{
    display: flex;
    width: 60%;
    flex-direction: row-reverse;
}

.col-4{
    width: calc(33.33% * 2) ;

}
.col-12{
    width: 100%;
}

/*SECOND CONTAINER*/


.row2{
    display: flex;
    width: 60%;
    flex-direction:row
}

.col-4{
    width: calc(33.33% * 2 ) ;

}
.col-12{
    width: 100%;
}

/*THIRD CONTAINER*/

.row1{
    display: flex;
    width: 60%;
    flex-direction: row-reverse;
}

.col-4{
    width: calc(33.33% * 2) ;

}
.col-12{
    width: 100%;
}
